@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Slab:wght@300;500;700&display=swap');

:root {
  --color-accent: #0290ff;
  --color-primary: #fff;
  --text-color: #867e7e;
  --text-hover: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Montserrat', serif;
  transition: 0.5s ease;
}

a:hover {
  color: var(--text-hover);
}
